<html xmlns:th="http://www.thymeleaf.com">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></link>

</head>
<body class="container">
	<h1>List of pizaa</h1>
	<table class="table">
		<tr th:each="product : ${products}">
			<td> 
				<a th:href="@{/web/product/detail/__${product.id}__}">View Detail</a>
			</td>
			<td th:text="${product.name}">Data</td>
			<td th:text="${product.desc}">Data</td>
			<td th:text="${product.price}">Data</td>
		</tr>
	</table>
	
</body>

</html>